* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}

.flex-container {
  display: flex;
  height: 400px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: end;
}
.flex-item {
  width: 200px;
  height: 100px;
  margin: 1px;
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
}
/*
display:in
*/
.over-packed{
  background-color: greenyellow;
  width: 400px;
  height: 100px;
  border: 1px solid #111;
  padding: 0px;
  margin: 0px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.scroll-container{
  padding: 0px;
  margin: 0px;
  height: 100px;
  width: 1600px;
  background-color: blue;
}
/*
  background-color: rgb(152, 129, 152);
*/
.scroll-item{
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1px;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: red;
}

.carousel-container {
  height: 100px;
  width: 400 px;
}
.carousel-item {
  display: inline-block;
  width: 400px;
  height: 100px;
  margin: 1px;
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
}
/*
.test{
  display: flex;
}
.item5{
  order: -1;
}
.item8{
  order: -2
}
*/
